body {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  padding-inline:15px;
}

.test-suggestion img {
  height: 25px;
  max-height: 25px !important;
}

.active-test-suggestion img {
  height: 25px;
  max-height: 25px !important;
}

.section-header h2 {
  margin: 0;
}
